name: CI

on:
  push:
    branches: [ main ]
    tags: ['*']
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version: [ '1' , 'pre', 'nightly']
        os: [ ubuntu-latest, windows-latest, macos-15-intel]
        arch: [ x64 ]
        include:
          - os: macos-latest
            arch: aarch64
            version: '1'
          - os: macos-latest
            arch: aarch64
            version: 'pre'
          - os: macos-latest
            arch: aarch64
            version: 'nightly'
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1

